 <div class="device"> 
                    <div class="device-img">
                        <img src="{{image}}">
                    </div>
                    <div class="device-info">
                        <h1>{{name}}</h1>
                        <p><span>Цена: </span>{{price}} лв.</p>
                        {{!-- <p><span>Payment: </span>{{paymentMethod}}</p> --}}
                    </div>

                    <a href="/appliances/{{_id}}/details" class="btn-details">Детайли</a>
                </div>